@import "vars";
@import "fonts";
@import "global";
// ============================
:root {
    --fs: 2vw;
}

$red: red;
body {
    // @include f500;
    font-family: 'Museo Cyrl 500';
    font-size: var(--fs);
    // font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: #838383;
    background-color: #ffffff;
}

.navigation {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.boxwrap {
    position: relative;
}

.box {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box1 {
    background-image: url(../img/mr-robot-mask-f-society-artwork-4k-on.jpg);
}

.box2 {
    background-image: url(../img/mr-robot-tv-show-2-ap-3840x2160.jpg);
}

.box3 {
    background-image: url(../img/NV8Y1SZ0A51O1533575177105.jpg);
}

.box4 {
    background-image: url(../img/P928TGX6VJ7M1533575234536.jpg);
}

.box5 {
    background-image: url(../img/dior.jpg);
}